.container-fluid{
    background-color: black;
    height: 100vh;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button-container button{
    background-color: gray;
    color: white;
}